#### 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

In [7]:
# 2753
n = int(input())
if n % 4 == 0 and n % 100 != 0 or n % 400 == 0 :
    print(1)
else:
    print(0)

1999
0

#### 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오

In [11]:
# 1330
a, b = map(int, input().split())
if a > b :
    print( '>' )
elif a < b :
    print( '<' )
else :
    print( '==' )

5 5
=

In [6]:
# 10171
a = "\    /\\"
b = " )  ( ')"
c = '(  /  )'
d = ' \(__)|'
print(a,b,c,d, sep = "\n")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [8]:
a = '|\_/|'
b = '|q p|   /}'
c = '( 0 )"""\\'
d = '|"^"`    |'
e = '||_/=\\\\__|'
print(a,b,c,d,e,sep='\n')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [10]:
#10430
A,B,C = map(int,input().split())
print((A+B)%C, ((A%C) + (B%C))%C,  (A*B)%C, ((A%C) * (B%C))%C, sep= '\n')

5 8 4
1
1
0
0

In [15]:
a = list(input() for _ in range(2))

472
385

In [49]:
a = list(input() for _ in range(2))
n = len(a[1])
for i in range(1,n+1):
    t = int(a[0])*int(a[1][-i])
    a.append(t)
print(a)

472
385
['472', '385', 2360, 3776, 1416]

In [57]:
# 2588번

a = list(int(input()) for _ in range(2))
n = len(str(a[1]))
result = []
for i in range(1,n+1):
    t = a[0]*int(str(a[1])[-i])
    result.append(t)
result.append(a[0]*a[1])

for i in range(len(result)):
    print(result[i],end='\n')

472
385
2360
3776
1416
181720

In [60]:
# 2884
H,M = map(int,input().split())
if H > 0 :
    if M < 45 :
        print( H - 1, M + 15)
    else : 
        print( H, M - 45)
else :
    if M < 45 :
        print( 23, M + 15)
    else :
        print( H, M - 45)

10 45
10 0

In [58]:
# 2884
H,M = map(int,input().split())
if H > 0 :
    if M < 45 :
        M += 15
        H -= 1
        print(H,M)
    else : 
        M -= 45
        print(H,M)
else :
    if M < 45 :
        M += 15
        print(23, M)
    else :
        M -= 45
        print(H, M)

10 45
10 0

In [62]:
# 2884
H,M = map(int,input().split())
if M >= 45 :
    M -= 45
    print(H, M)
else:
    if H > 0 :
        H -= 1
        M += 15
        print(H,M)
    else : 
        M += 15
        print(23, M)

10 45
10 0

## step 3 for문

#### N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [ ]:
## 2739
n = int(input())
for i in range(1,10):
    print('{} * {} = {}'.format(n,i,n*i))

#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [65]:
# 10950
n = int(input())
for i in range(n):
    a,b = map(int,input().split())
    print(a + b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#### n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오

In [67]:
# 8393
n = int(input())
result = 0
while n>0:
    result += n
    n -= 1
print(result)

3
6

#### 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

In [74]:
# 15553 
import sys
T = int(input())
for i in range(T):
    a,b = map(int,sys.stdin.readline().split())
    print(a+b)

5

ValueError: not enough values to unpack (expected 2, got 0)

#### 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [76]:
# 2741
N = int(input())
i = 1
while i <= N :
    print(i)
    i += 1

5
1
2
3
4
5

#### 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [77]:
# 2742
N = int(input())
while N > 0 :
    print(N)
    N -= 1

5
5
4
3
2
1

#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [78]:
# 11021
T = int(input())
for i in range(1,T+1):
    a, b = map(int,input().split())
    print( 'Case #{}: {}'.format(i,a+b))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [79]:
# 11022
T = int(input())
for i in range(1,T+1):
    a, b = map(int,input().split())
    print( 'Case #{}: {} + {} = {}'.format(i,a,b,a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

#### 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [80]:
# 2438
N = int(input())
for i in range(1,N+1):
    print('*'*i)

5
*
**
***
****
*****

#### 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
#### 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [99]:
N = int(input())
for i in range(1, N+1):
    print(' '*(N-i) + '*'*i)

5
    *
   **
  ***
 ****
*****

In [116]:
# 2439
N = int(input())
for i in range(1,N+1):
    a = '*'*i
    print(a.rjust(N))

5
    *
   **
  ***
 ****
*****

#### 수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [104]:
# 10871
N, X = map(int,input().split())
data = list(map(int,input().split()))
for i in range(N):
    if data[i] < X : 
        print(data[i],end= ' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

## step4 while문

#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
- 마지막에는 0 0 이 온다

In [127]:
# 10952
while True:
    a, b = map(int,input().split())
    if a == 0 and b == 0 :
        break
    print(a + b)

1 1
2
2 3
5
4 5
9
9 8
17
0 0

#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [131]:
# 10951
try:
    while True:
        a, b = map(int,input().split())
        print(a+b)
except:
    print("")

1 1
2

#### 26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

In [4]:
# 1110
N = input()
n = list(map(int,N))
count = 0
while n!=N:
    if len(n) == 1:
        n.insert(0,0)
        N = '0' + str(N) 
    else:
        a,b = str(n[0]), str(n[1])
        c = str(int(a) + int(b))[-1]
        n = b + c
        count += 1
print(count)

1
60

In [8]:
# 1110
N = input()
n = list(N)
count = 0
if len(n) == 1:
    n.insert(0,0)
    N = '0' + str(N) 
while n!=N :
    a,b = n[0], n[1]
    c = str(int(a) + int(b))[-1]
    n = b + c
    count += 1
print(count)

1
60

## step 5 one dimention array

#### N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [9]:
#10818
N = int(input())
D = list(map(int,input().split()))
print(min(D),max(D))

5
20 10 35 20 7
7 35

#### 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

- 예를 들어, 서로 다른 9개의 자연수

- 3, 29, 38, 12, 57, 74, 40, 85, 61

- 이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [42]:
# 2562
D = list(int(input()) for _ in range(9))
print(max(D), D.index(max(D))+1, sep = '\n')

3
29
38
12
57
74
40
85
61
85
8

#### 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

#### 예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [60]:
#2577
A = int(input())
B = int(input())
C = int(input())
result = list(str(A * B * C))
for i in range(10) : 
    print(result.count(f'{i}'))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
#2577
D = [A,B,C]
for x in D:
    x = int(input())
result = list(str(A * B * C))
for i in range(10) : 
    print(result.count(f'{i}'))

#### 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

#### 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [129]:
# 3052
D = list(map(lambda x : x % 42,list(int(input()) for _ in range(10))))
print(len(set(D)))

1
2
3
4
5
6
7
8
9
10
10

#### 세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

- 예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

- 세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

#### 첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

In [154]:
# 1546
n = int(input())
t = list(map(int,input().split()))
new = sum(map(lambda x : x/max(t)*100,t))/n
new

3
40 80 60

75.0

In [2]:
n = int(input())

s = sorted(list(map(int, input().split())))
d = []
for i in s:
    d.append(i/s[-1]*100)
print(sum(d)/n)

3
40 80 60
75.0

#### OX퀴즈

In [73]:
# 8958
n = int(input())
data = list(input() for _ in range(n))
for i in data:
    score = 0
    total = 0
    for j in range(len(i)):    
        if i[j] == 'O':
            score += 1
            total += score
        else:
            score = 0
    print(total)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
10
9
8
55
30

#### 평균은 넘겠지

In [39]:
# 4344
N = int(input())
for i in range(N):
    data = list(map(int,input().split()))
    n = data[0]
    data = data[1:]
    count = 0
    for j in range(len(data)):
        if (data[j] > sum(data)/n) == True:
            count += 1
    x = count/len(data)*100
    result = '%.3f'%(x)
    print(str(result) + '%')

4
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%

#### 정수 N개의 합

In [90]:
# 4673
result = []
def d(n):
    score = 0
    data = list(str(n))
    for i in range(len(data)):
        score += int(data[i])
    result = n + score 
    return result 
for i in range(1,10001):
    data = d(i)
    result.append(data)

for j in range(1,10001):
    if j not in result:
        print(j)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

In [120]:
# 1065
n = int(input())
score = 0
for i in range(1,n+1):
    if i < 100 :
        score += 1
    else : 
        data = list(str(i))
        data = list(map(int,data))
        if (data[1] - data[0]) == (data[-1] - data[1]):
            score += 1
print(score)

1000
144

In [131]:
# 11654
ord(input())

0
48

In [143]:
# 11720
n = int(input())
data = list(input())
result = 0

for i in data:
    result += int(i)
print(result)

5
54321

15

In [138]:
# 11720
n = input()
n = input()
data = list(map(int,n))
sum(data)

11
10987654321

46

In [ ]:
# 97 ~ 122

In [153]:
# 10809
data = list(input())
for i in range(97,123):
    if chr(i) in data:
        print(data.index(chr(i)))
    else:
        print(-1)

baekjoon
1
0
-1
-1
2
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [168]:
# 2675
n = int(input())
for i in range(n):
    data = list(input().split())
    count = int(data[0])
    alpha = list(str(data[1]))
    for j in alpha:
        print(j*count,end = '')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

#### upper, lower ,, 대문자 소문자 변환

In [52]:
data = 'Mississipi'
dic = {}
for i in set(data):
    dic[i] = data.count(i)
dic

{'p': 1, 'i': 4, 's': 4, 'M': 1}

In [51]:
for i in set(data):
    print(i)

p
i
s
M

In [60]:
#1157
data = input().upper()
dic = {}
result = []
for i in set(data):
    dic[i] = data.count(i)
for key,values in dic.items() :
    if values == max(dic.values()):
        result.append(key)
if len(result) != 1:
    print('?')
else:
    print(result[0])

zZaa
?

In [34]:
#2908
a,b = input().split()
a = ''.join(reversed(a))
b = ''.join(reversed(b))
if int(a) > int(b) :
    print(a)
else:
    print(b)

734 893
437

In [48]:
#5622
string = input()
result = 0
for i in string:
    if i in 'ABC':
        result += 3
    elif i in 'DEF':
        result += 4
    elif i in 'GHI':
        result += 5
    elif i in 'JKL':
        result += 6
    elif i in 'MNO':
        result += 7
    elif i in 'PQRS':
        result += 8
    elif i in 'TUV':
        result += 9
    elif i in 'WXYZ':
        result += 10
print(result)

UNUCIC
36

In [ ]:
#5622
n = input().lower()
li= ['abc','def','ghi','jkl','mno','pqrs','tuv','wxyz']
result = 0
for x in n:
    for i in range(len(li)):
        if x in li[i]:
            result += i + 3

print(result)

In [111]:
#2941
string = input()
result = 0
data = ['c=','c-','dz=','d-','nj','lj','s=','z=']
for x in data:
    if x in string:
        if string.count(x) != 1:
            result += string.count(x)
        else:
            result += 1
        string = string.replace(x,' ')
string = string.replace(' ','')
result += len(string)
print(result)

ljes=njak
6

In [ ]:
#2941
a=['c=','c-','dz=','d-','lj','nj','s=','z=']
words=input()
for i in a:
    words=words.replace(i,'*')
print(len(words))

In [144]:
#1316
n = int(input())
li = list(input() for _ in range(n))
count = 0
for x in li:
    for i in range(len(x)):
        if i != len(x)-1:
            if x[i] == x[i+1]:
                pass
            elif x[i] in x[i+1:]:
                break
        else:
            count +=1
print(count)

4
a
aba
abab
abcabc
1

In [209]:
a, b, c = map(int,input().split())
if b >= c:
    print(-1)
else:
    n = a/(c-b)
    print(int(n)+1)

1000 70 170
11

In [8]:
# 2292
n = int(input())
add = 1
start = 1
while n > add :
    add += 6*start
    start += 1
print(start)

58
5

In [3]:
1, 2, 3, 4, 5, 6, 7

9

In [9]:
n = int(input())

while n > add:
    if n % 2 == 0 :

0

In [21]:
n = int(input())
if n % 2 != 0 :
    for i in range(1,n+1):
        print(str(n-(i-1)) + '/' + str(i))

3
3/1
2/2
1/3

In [79]:
n = int(input())

group = 0 
num = 0 
while n > num :
    group += 1
    num = num + group
if group % 2 != 0 :
    up = num - n + 1
    down = n - num + group
    print(str(up) + '/' + str(down))
elif group % 2 == 0 :
    up = n + group - num
    down = num - n + 1
    print(str(up) + '/' + str(down))

14
2/4

In [ ]:
# 2869
A, B, V = map(int, input().split())
 
high = V - A
if high % (A-B) == 0:
    first = int(high/(A-B))
else:
    first = int(high/(A-B) + 1)
print(first + 1)

h = 층수 
w = 방의 개수
n = 몇 번째 사람인지~

In [ ]:
# 10250
t = int(input())
for i in range(t):
    h, w, n = map(int,input().split())

In [99]:
h, w, n = map(int,input().split())

6 12 10

In [106]:
t = int(input())
for i in range(t):
    h, w, n = map(int,input().split())
    y = n % h 
    x = n // h + 1
    if y == 0 :
        x -= 1
        y = h
    print(y*100 + x)

2
6 12 10
402
30 50 72
1203

In [7]:
t = int(input())

for _ in range(t):  
    floor = int(input())  # 층
    num = int(input())  # 호
    f0 = [x for x in range(1, num+1)]  # 0층 리스트
    for k in range(floor):  # 층 수 만큼 반복
        for i in range(1, num):  # 1 ~ n-1까지 (인덱스로 사용)
            f0[i] += f0[i-1]  # 층별 각 호실의 사람 수를 변경
    print(f0[-1])  # 가장 마지막 수 출력

1
2
3
10

In [24]:
n = int(input())
li = list(int(input()) for _ in range(n))
s = sorted(li)
for i in s:
    print(i)

5
5
4
3
2
1
[1, 2, 3, 4, 5]

In [25]:
a, b = map(int,input().split())
print(a+b)

In [26]:
print(a+b)

18446744073709551615