0보다 크거나 같은 정수 N이 주어진다. 이때 N!을 출력하는 프로그램을 작성하시오

In [3]:
# 10872 
# input (10) , output (3628800)

N = int(input())
result = 1
for i in range(1, N + 1):
    result = result*i
print(result)

1

블랙잭

In [15]:
# 2798 블랙잭 문제 

N, M = map(int, input().split())
li = list(map(int,input().split()))

18

In [50]:
# 10870 피보나치 수 5
n = int(input())
def fibo(num):
    if num <= 1:
        return num 
    return fibo(num-1) + fibo(num-2)
fibo(n)

3

In [ ]:
# 2231 분해합

In [60]:
# 1085 직사각형에서 탈출
x, y, w, h = map(int, input().split())

print(min(x, y, w-x, h- y))

1

In [71]:
# 4153 직각삼각형

while 1:
    N = list(map(int, input().split()))
    N.sort()
    L = N[-1]**2
    M = N[0]**2 + N[1]**2
    if L == 0 :
        break
    elif M == L:
        print('right')
    else:
        print('wrong')

right
wrong
right

In [64]:
n = [5, 12, 13]
n.index(13)

2

In [66]:
n.sort()

In [68]:
0**2

0