In [2]:
import numpy as np 
import pandas as pd
import os

In [13]:
os.getcwd()

'c:\\Users\\EonKim\\Desktop\\경희대\\books\\python'

In [17]:
aptsales = pd.read_csv('dataset\\apt_sales.csv', encoding = 'cp949')
aptinfo = pd.read_csv('dataset\\apt_basicinfo.csv', encoding = 'cp949')
housesales = pd.read_csv('dataset\\house_sales.csv', encoding = 'cp949')
houseinfo = pd.read_csv('dataset\\house_basicinfo.csv', encoding = 'cp949')

In [26]:
print(f'apt_sales shape : {aptsales.shape}')
print(f'apt_info shape : {aptinfo.shape}')
print(f'house_sales shape : {housesales.shape}')
print(f'house_info shape : {houseinfo.shape}')

apt_sales shape : (4776, 10)
apt_info shape : (4776, 12)
house_sales shape : (1322, 8)
house_info shape : (1322, 11)

1. 단독주택 매매거래 정보를 사용하여 다음의 질문에 답하세요. 실행 가능한 코드를 제외한 
답안은 반드시 주석으로 처리하여 오류가 발생하지 않아야 합니다

In [34]:
# (1) info( ) 함수를 사용하여 단독주택 매매거래 데이터에 총 몇 개의 변수가 저장되어 있는지 
# 확인하고, 그 중 매매가격(salesPrice)은 몇 번째에 위치해 있는지 적으시오

housesales.info()

# 맨 마지막에 위치하고 있으며, 8번째에 위치하고 있습니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1322 non-null   int64
 1   si          1322 non-null   object
 2   gu          1322 non-null   object
 3   dong        1322 non-null   object
 4   bunji       1322 non-null   object
 5   yearSold    1322 non-null   int64
 6   daySold     1322 non-null   object
 7   salesPrice  1322 non-null   int64
dtypes: int64(3), object(5)
memory usage: 82.8+ KB

In [47]:
# (2) rename( )함수를 사용하여 단독주택 데이터에 변수명을 si는 city로, gu는 district로 수정하세요.
houseinfo.rename(columns = {'si' : 'city', 'gu' : 'district'}, inplace = True)
housesales.rename(columns = {'si' : 'city', 'gu' : 'district'}, inplace = True)

In [62]:
# (3) merge( )함수를 사용하여 단독주택 매매거래 데이터와 기본 정보를 id 변수를 기준으로 
# 결합하고 이를 새로운 데이터 프레임으로 저장하는 코드를 적으시오. 데이터 프레임에 중복되는 변수는 제거하시기 바랍니다

house = houseinfo.merge(housesales)
# pd.merge(houseinfo, house.sales)

In [71]:
# (4) 단위면적(landSize) 당 매매가격을 나타내는 새로운 파생변수가 포함된 데이터 프레임을 만드는 코드를 적으시오

house['Price per landSize'] = np.round(house['salesPrice'] / house['landSize'],3)
house.head()

,id,city,district,dong,bunji,type,roadCondition,buildingSize,landSize,yearBuilt,address,yearSold,daySold,salesPrice,Price per landSize
0,1,서울특별시,성북구,길음동,5**,단독,8m미만,19.83,46.0,1980.0,길음로1길,201801,11~20,32330,702.826
1,2,서울특별시,성북구,길음동,5**,단독,8m미만,24.97,53.0,1985.0,동소문로43다길,201805,11~20,39500,745.283
2,3,서울특별시,성북구,길음동,4**,단독,-,70.83,57.0,1991.0,숭인로16가길,201802,21~28,59000,1035.088
3,4,서울특별시,성북구,길음동,5**,단독,8m미만,51.00,60.0,1985.0,길음로5길,201801,1~10,52800,880.000
4,5,서울특별시,성북구,길음동,5**,단독,8m미만,39.67,63.0,1940.0,길음로1가길,201803,1~10,38300,607.937

In [72]:
# (5) describe( ) 함수를 사용하여 동대문구에 소재한 단독주택의 단위면적 당 매매가격 분포를 살펴보는 코드를 적으시오. 

house[ house['district'] == '동대문구' ]['Price per landSize'].describe()

count     627.000000
mean      557.621900
std       215.184696
min         5.022000
25%       441.832500
50%       516.854000
75%       618.993000
max      2642.857000
Name: Price per landSize, dtype: float64

2. 아파트 매매거래 정보를 사용하여 다음의 질문에 답하세요. 실행 가능한 코드를 제외한 답
안은 반드시 주석으로 처리하여 오류가 발생하지 않아야 합니다

In [73]:
# (6) info( ) 함수를 사용하여 아파트 매매거래 데이터에 총 몇 개의 변수가 저장되어 있는지 
# 확인하고, 그 중 매매가격(salesPrice)은 몇 번째에 위치해 있는지 적으시오.

aptsales.info()
# 마지막에 위치해 있습니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4776 entries, 0 to 4775
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4776 non-null   int64
 1   si          4776 non-null   object
 2   gu          4776 non-null   object
 3   dong        4776 non-null   object
 4   bunji       4776 non-null   object
 5   mainBun     4776 non-null   int64
 6   subBun      4776 non-null   int64
 7   yearSold    4776 non-null   int64
 8   daySold     4776 non-null   object
 9   salesPrice  4776 non-null   int64
dtypes: int64(5), object(5)
memory usage: 373.2+ KB

In [75]:
# (7) rename( ) 함수를 사용하여 단독주택 데이터에 변수명을 si는 city로, gu는 district로 수정하세요.

aptsales.rename(columns = {'si' : 'city', 'gu' : 'district'}, inplace = True)
aptinfo.rename(columns = {'si' : 'city', 'gu' : 'district'}, inplace = True)

In [80]:
# (8) merge( ) 함수를 사용하여 아파트 매매거래 데이터와 기본 정보를 id 변수를 기준으로 결합하고 
# 이를 새로운 데이터 프레임으로 저장하는 코드를 적으시오. 데이터 프레임에 중복되는 변수는 제거하시기 바랍니다

apt_df = aptinfo.merge(aptsales)
apt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4776 entries, 0 to 4775
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4776 non-null   int64
 1   city           4776 non-null   object
 2   district       4776 non-null   object
 3   dong           4776 non-null   object
 4   bunji          4776 non-null   object
 5   mainBun        4776 non-null   int64
 6   subBun         4776 non-null   int64
 7   apartmentName  4776 non-null   object
 8   size           4776 non-null   float64
 9   floor          4776 non-null   int64
 10  yearBuilt      4776 non-null   int64
 11  address        4772 non-null   object
 12  yearSold       4776 non-null   int64
 13  daySold        4776 non-null   object
 14  salesPrice     4776 non-null   int64
dtypes: float64(1), int64(7), object(7)
memory usage: 597.0+ KB

In [83]:
# (9) 단위면적(size) 당 매매가격을 나타내는 새로운 파생변수가 포함된 데이터 프레임을 만드는 코드를 적으시오. 
apt_df['Price per size'] = np.round(apt_df['salesPrice'] / apt_df['size'],3)
apt_df.head()

,id,city,district,dong,bunji,mainBun,subBun,apartmentName,size,floor,yearBuilt,address,yearSold,daySold,salesPrice,Price per size
0,1,서울특별시,동대문구,답십리동,111,111,0,답십리대우,114.94,11,2002,답십리로41길,201801,1~10,59000,513.311
1,2,서울특별시,동대문구,답십리동,111,111,0,답십리대우,59.76,17,2002,답십리로41길,201801,1~10,41500,694.444
2,3,서울특별시,동대문구,답십리동,111,111,0,답십리대우,59.76,17,2002,답십리로41길,201801,11~20,42000,702.811
3,4,서울특별시,동대문구,답십리동,111,111,0,답십리대우,114.94,5,2002,답십리로41길,201802,1~10,56000,487.211
4,5,서울특별시,동대문구,답십리동,111,111,0,답십리대우,59.76,22,2002,답십리로41길,201804,1~10,45000,753.012

In [85]:
# (10) describe( ) 함수를 사용하여 동대문구에 소재한 단독주택의 단위면적 당 매매가격 분포를 살펴보는 코드를 적으시오.
apt_df[apt_df['district'] == '동대문구' ]['Price per size'].describe()

count    1699.000000
mean      642.484417
std       176.967880
min       279.413000
25%       518.304000
50%       608.435000
75%       717.104500
max      1366.894000
Name: Price per size, dtype: float64

In [94]:
# (11) cut( ) 함수를 사용하여 salesPrice 변수 데이터를 4개 구간으로 나누고 구간에 따라 
# “A”, “B”, “C”, “D” 값을 입력하고 저장하는 코드를 적으시오.

apt_df['salesPrice labels'] = pd.cut(apt_df['salesPrice'], bins = 4, labels = ['A', 'B', 'C', 'D'])
apt_df['salesPrice labels'].value_counts()

B    3390
C     674
A     652
D      60
Name: salesPrice labels, dtype: int64

In [103]:
# (12) 건축 연도(yearBuilt)에 따라 더미변수를 나타내는 새로운 새로운 파생변수를 만들고 저장하는 코드를 적으시오. 
# (2000년 이전은 “0”으로 이후는 “1”로 입력하세요.)

apt_df['yearBuilt dummy'] = apt_df['yearBuilt'].apply(lambda x: '1' if x >= 2000 else '0')

3. mpg 데이터를 이용하여 아래의 문제를 해결해 보세요. 실행 가능한 코드를 제외한 답안은 
반드시 주석으로 처리하여 오류가 발생하지 않아야 합니다. mpg.csv 데이터에는 자동차에 대
한 다양한 정보가 포함되어 있습니다. 데이터의 변수들은 아래와 같은 속성을 의미합니다.

In [105]:
mpg = pd.read_csv('dataset\\mpg.csv', encoding = 'cp949')

- manufacturer : 제조 회사
- model : 자동차 모델명
- displ : 배기량(displacement)
- year : 생산연도
- cyl : 실린더 개수
- trans : 변속기 종류(transmission)
- drv : 구동 방식(drive wheel)
- cty : 도시 연비(city)
- hwy : 고속도로 연비(highway)
- f1 : 연료 종류(fuel)
- class : 자동차 종류

In [125]:
# (1) displ(배기량)이 4이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 알아보는 코드를 적으시오.

mpg[(mpg['displ'] >= 4) & (mpg['displ'] <= 5)].groupby('manufacturer').agg(['mean'])['hwy'].sort_values('mean').idxmax()[0]

'audi'

In [146]:
# (2) “audi”와 “toyota” 중 어느 자동차 제조 회사의 cty(도시 연비)가 평균적으로 더 높은지 알아보는 코드를 적으시오.

mpg.groupby('manufacturer').agg(['mean']).loc[['audi','toyota'],'cty']

                   mean
manufacturer
audi          17.611111
toyota        18.529412

In [149]:
# (3) “chevrolet”, “ford”, “honda” 자동차의 고속도로 연비 평균을 알아보려고 합니다.
# 이 회사들의 데이터를 추출한 후 hwy 전체 평균을 구하는 코드를 적으시오.

mpg.groupby('manufacturer').agg(['mean']).loc[['chevrolet','ford','honda'], 'hwy']

                   mean
manufacturer
chevrolet     21.894737
ford          19.360000
honda         32.555556

In [154]:
# (4) mpg 데이터 중 일부만 추출해 분석에 활용하려고 합니다. 
# class(자동차 종류), cty(도시 여비) 변수를 추출해 새로운 데이터를 만드는 코드를 적으시오

mpg_part = mpg.loc[:, ['class', 'cty']]
mpg_part.head()

     class  cty
0  compact   18
1  compact   21
2  compact   20
3  compact   21
4  compact   16

In [201]:
# (5) 앞에서 추출한 데이터를 이용해 자동차 종류가 “suv”인 자동차와 “compact”인 자동차 
# 중 어떤 자동차의 cty(도시 연비)가 더 높은 알아보는 코드를 적으시오

# 1
print(mpg_part[ (mpg_part['class'] == 'suv')].mean())
print()
print(mpg_part[mpg_part['class'] == 'compact'].mean())
print()

# 2
mpg_part.groupby('class').mean().loc[['suv', 'compact'],:]

cty    13.5
dtype: float64

cty    20.12766
dtype: float64

              cty
class
suv      13.50000
compact  20.12766